@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700|Open+Sans:300,400,600');
@import url('font-awesome.min.css');


  @import 'libs/skel';

  @include skel-breakpoints((
    desktop: '(min-width: 737px)',
    tablet: '(min-width: 737px) and (max-width: 1200px)',
    mobile: '(max-width: 736px)'
  ));

  @include skel-layout((
    reset: 'full',
    boxModel: 'border',
    grid: true,
    conditionals: true,
    containers: true,
    breakpoints: (
      desktop: (
        containers: 1200px,
        grid: (
          gutters: (25px, 25px)
        ),
      ),
      tablet: (
        containers: 1000px,
      ),
      mobile: (
        containers: (100%, true),
        grid: (
          gutters: (15px, 15px)
        ),
      )
    )
  ));

// Base
  @import 'base/typography';
  
// Component

// Layout
