@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700|Open+Sans:300,400,500,600,700');

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		containers: 80em,
		grid: ( gutters: 1.5em ),
		breakpoints: (
			large: (
				containers: 65em,
				grid: ( gutters: 1.25em )
			),
			medium: (
				containers: 90%
			),
			small: (
				containers: (90%, true),
				grid: ( gutters: 1.0em )
			)
		)
	));

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/table';
	@import 'components/button';
	@import 'components/grid-demo';
	@import 'components/articleStub';
	@import 'components/thumbnail';
	@import 'components/sectionSeparator';

// Layout.
	@import 'layout/stubWrapper';
	@import 'layout/header';
	@import 'layout/navPanel';
	@import 'layout/banner';
	@import 'layout/featured';
	@import 'layout/main';
	@import 'layout/footer';
	@import 'layout/feedWrapper';
	@import 'layout/feedArticleWrapper';
	@import 'layout/abstractWrapper';
