@charset "UTF-8";

@font-face {
  font-family: "yattell-logo";
  src:url("fonts/yattell-logo.eot");
  src:url("fonts/yattell-logo.eot?#iefix") format("embedded-opentype"),
    url("fonts/yattell-logo.woff") format("woff"),
    url("fonts/yattell-logo.ttf") format("truetype"),
    url("fonts/yattell-logo.svg#yattell-logo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "yattell-logo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "yattell-logo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yattell-1:before {
  content: "\61";
}
.icon-optimised:before {
  content: "\62";
}
